html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}
.container {
    background-color: #4e1616;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    height: fit-content;
    border-radius: 5px;
    gap: 8px;


  .flex-item {
    display: flex;
    flex-direction: column;
    /* width: auto; */
    width: 240px;
    width: calc((100% / 3) - 16px);
    height: 400px;
    background-color: rgba(100, 95, 95, 0.582);
    border-radius: 25px;
  }

  @media all and (max-width: 720px) {
    .flex-item {
      width: calc((100% / 3) - 16px);
    }
  }

  @media all and (max-width: 480px) {
    .flex-item {
    width: calc((100vw));
  }
}

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .top {
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
    padding: 5px;
    margin: 15px;
  }

  .project1 {
    background-color: rgb(236, 234, 241);
  }

  .picture {
    padding: 0px;
    margin: 0px;
    border-radius: 25px 25px 0 0;
  }

  .top-picture {
    border-radius: 25px 25px 0 0;
  }
  .project2 {
    background-color: lightblue;
  }

  .project3 {
    background-color: pink;
  }
  .middle {
    margin: 15px;
  }
  .bottom {
    display: flex;
    align-items: left;
    margin: 15px;
    justify-content: flex-start;
  }
  .bottom-text {
   justify-content: flex-start;
    
  }

  .round-pic {
    clip-path: circle();
    width: 50px;
    height: 50px;
    /* padding-right: 10px; */
  }

  .small-bold {
    font-weight: bold;
  }


